replicaCount: 1

image:
  repository: akashspk13/retail-store-checkout
  tag: main-27bab82
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

env: []
